/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* body */
body {
	min-width: 1024px;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	/*position: relative;
	
	min-width: 1024px;
	height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;*/
}

ul {
	/*list-style: none;*/
}

a {
	color: #fff;
}
/* Header */
#header {
	
	position: relative;
	top: 18px;
	height: 36px;
	width: 980px;
	margin: auto;
	background: linear-gradient(#666, #5e5e5e 50%, #707070 51%, #808080);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.3);
	font: 12px/18px "Lucida Grande";
	text-align: center;
	z-index: 9999;
	/*display: block;
	position: relative;
	top: 18px;
	height: 36px;
	margin: auto;
	width: 980px;
	text-align: left;
	font: 12px/18px "Lucida Grande";
	
	background: black;
	border-radius: 4px;
	box-shadow: rgba(0,0,0,0.3);*/
}

#header #navbar {
	height: 36px;
	/*position: relative;
	top: 0;
	float: left;
	width: 980px;
	height: 36px;
	table-layout: fixed;*/
}

#header #navbar li {
	border-right: 1px solid #686868;
	height: 27px;
	display: inline-block;
	width: 100px;
	padding-top: 9px;
	box-shadow: 1px 0 0 0 #888;

	/*border: solid white;
	border-width: 0 1px 0 0;
	display: inline-block;
	width: 105.63px;
	height: 36px;
	margin: 0;
	overflow: hidden;
	outline: none;*/
}

#header #navbar li a {
	display: block;
	text-decoration: none;
	height: 36px;
	width: 100px;
	
	/*display: block;
	float: left;
	text-decoration: none;
	border-width: 0 2px 0 0;
	border-style: solid;*/
}

#header #navbar li a span {
	width: 100px;
	height: 36px;
	/*display: block;
	width: 105.63px;
	height: 36px;
	margin: auto;*/
}

#header #navbar li:last-child {
	/*border-width: 0 2px 0 0;
	border-radius: 4px 0 0 4px;*/
	border: 0;
	box-shadow: 0;
}






/* billboard */
#billboard {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 292px;
	left: 0;
	overflow: hidden;
}

#billboard #verse {
	display: block;
	position: absolute;
	right: auto;
	left: 50%;
	margin-left: -720px;
	top: 0;
	bottom: 0;
	background-image: url("http://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	width: 1440px;
	z-index: -1;
}




/* promos */







/* footer */ 